@CHARSET "ISO-8859-1";

.field{
	-fx-padding:5; 
	-fx-background-color: #1a3399;
}

.token{
	-fx-fill: white;
	-fx-effect: innershadow(gaussian, grey, 10, 0.5, 0, 0);
}

.token-yellow{
	-fx-fill: yellow;
	-fx-effect: innershadow(two-pass-box, grey, 10, 0.5, 0, 0);
}

.token-red{
	-fx-fill: red;
	-fx-effect: innershadow(two-pass-box, grey, 10, 0.5, 0, 0);
}

.punkte{
	-fx-padding: 10;
	-fx-font-size: 20;
	-fx-font-weight: bold;
}

.textfeld{
	-fx-font-size: 14;
}

.timeoutButton{
	-fx-font-size: 8;
}

.spieleranzeige{
	-fx-padding: 20;
}

.spieler{
	-fx-font-size: 16;
	-fx-font-weight: bold
}

.labelSpieleinstellungen{
	-fx-font-size: 15;
	-fx-font-weight: bold
}