@CHARSET "ISO-8859-1";

.token{
	-fx-fill: white;
	-fx-effect: innershadow(two-pass-box, grey, 10, 0.5, 0, 0);
}

.token-yellow{
	-fx-fill: yellow;
	-fx-effect: innershadow(two-pass-box, grey, 10, 0.5, 0, 0);
}

.token-red{
	-fx-fill: red;
	-fx-effect: innershadow(two-pass-box, grey, 10, 0.5, 0, 0);
}

.punkte{
	-fx-padding: 10;
	-fx-font-size: 20;
	-fx-font-weight: bold;
}