@CHARSET "ISO-8859-1";

.menuBar {
    -fx-background-color: linear-gradient(#afe9af 0%, #669966 25%, #afe9af 100%);
}

.border{
	-fx-border-width: 2;
	-fx-border-color: #297fd5;

}

.settings{
	-fx-background-color: linear-gradient(to bottom, #afe9af, #669966);
}

.game {
    -fx-background-color: linear-gradient(to bottom right, white, #999999);
    -fx-border-width: 1;
    -fx-border-color: #999999;
}

#gameSettings .choice-box {
  -fx-background-color: green;
}

#gameSetting .choice-box .context-menu{
	-fx-background-color: blue;	
}

.field{
	-fx-padding:5; 
	-fx-background-color: #1a3399;
}

.token{
	-fx-background-color: white;
	-fx-background-radius: 30;
	-fx-font-size: 15;
	-fx-effect: innershadow(gaussian, grey, 10, 0.5, 0, 0);
	-fx-alignment: center;
	-fx-font-weight: bold;
	-fx-text-fill: RGB(100,100,100,0.5);
}

. 

.token-yellow{
	-fx-fill: yellow;
	-fx-effect: innershadow(two-pass-box, grey, 10, 0.5, 0, 0);
}

.token-red{
	-fx-fill: red;
	-fx-effect: innershadow(two-pass-box, grey, 10, 0.5, 0, 0);
}


.ueberschrift{
	-fx-font-size: 20;
	-fx-font-weight: bold;
}

.textfeld{
	-fx-font-size: 14;
}

.timeoutButton{
	-fx-font-size: 14;
}

.timeoutButton2{
	-fx-font-size: 16;
}

.colButton{
	-fx-font-size: 9;
	-fx-text-alignment: center;
	-fx-padding: 2 19 2 20;
}

.spieleranzeige{
	-fx-padding: 20;
	-fx-text-alignment: right;
}

.ueberschrift2{
	-fx-font-size: 16;
	-fx-font-weight: bold;
}

.labelSpieleinstellungen{
	-fx-font-size: 15;
	-fx-font-weight: bold;
}

.status{
	-fx-padding: 20;
	-fx-font-size: 15;
	-fx-font-weight: bold;
	-fx-font-color: #666666;
}

.statusanzeige{
	-fx-padding: 20;
	-fx-font-size: 15;
	-fx-font-weight: bold;
	-fx-font-style: italic;
}

.btnTimeout{
	-fx-padding: 3 5 3 5;
    -fx-font-size: 14px;
}